body  
	{
		font-family: Verdana;
		font-size: 12px;
		color: green;
		background:#e1f7e4 center repeat;
	}
	
a
	{
		padding: 6px 15px 6px 15px;
		text-decoration: none;
		font-family: Verdana;
		font-weight: bold;
		color: #fff;
		border-radius: 5px;
		margin-left: 10px;
		line-height: 15px;
	}
	
#menu a:hover {
		background-color: #ff9933;
	}
#register a:hover {
		background-color: #ff9933;
}

#katalog a:hover {
		background-color: #ff9933;
}
.input{
	background-color: #ff9933;
	color: #fff
}

	
.judul 
	{
		font-family: 'Arial';
		color: #ff9933;
		font-size: 18px;
	}

.style1{
	font-size: 24px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #FFFFFF;
}

.foto {
	display:none;
}

.table{
width: 100%;
margin-top: 20px;
border-collapse: collapse;
}

.table th, .table td{
border: 1px solid #ccc;
padding: 10px;
}

#footer {
	clear : both;
	padding : 5px;
	margin-top : 15px;
	color : #FFFFFF;
	position: center;
	background-color: #42B568;
}
#footer a:link, #footer a:visited {
background : inherit;
color : #eee;
text-decoration : none;
}
#footer a:hover {
border-bottom : 1px dashed #f2f2f5;
background : #ff9933;
color : #f2f2f5;
}
